  {% extends 'base.html' %}
  
  <!-- Main content goes here -->
  {% block test %}
  <br>
  
<div class="col-4">
  <a href="{% url 'add_test' %}"><button type="button" class="btn btn-danger m-2">  Add Test</button></a>

  <a href="{% url 'add_category' %}"><button type="button" class="btn btn-danger m-2">  Add Category</button></a>

  
  <a href="{% url 'add_question' %}"><button type="button" class="btn btn-danger m-2">  Add questions</button></a>

</div>

  <h2 id="h2">Choose the Category you want to give test.</h2>



  <section>
    <form method="POST" action="{% url 'test_category_filter' %}">
      {% csrf_token %}
      <select name="selected_category" class="form-select" aria-label="Select Category">
        <option value="">All Categories</option>
        {% for categoryy in category %}
          <option value="{{ categoryy.id }}">{{ categoryy.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
  </section>

  <section>
    <h2 id="h2">Chose the test you want to take.</h2>
    <ul class="list-group">
      {% for tst in test %}
        <li class="list-group-item"><a href="{% url 'givetest' tst.id %}" class="text-decoration-none text-dark">{{ tst.name}}</a></li>
      {% endfor %}
        <!-- Add more categories here -->
    </ul>
</section>



  {% endblock test %}
