  {% extends 'base.html' %}
  
  <!-- Main content goes here -->
  {% block test %}
  <br>
  
<div class="col-4">
  <a href="{% url 'add_test' %}"><button type="button" class="btn btn-danger m-2">  Add Test</button></a>

  <a href="{% url 'add_category' %}"><button type="button" class="btn btn-danger m-2">  Add Category</button></a>

  
  <a href="{% url 'add_question' %}"><button type="button" class="btn btn-danger m-2">  Add questions</button></a>

</div>

  <h2 id="h2">Choose the Category you want to give test.</h2>



  <section>
    <form method="POST" action="{% url 'test_category_filter' %}">
      {% csrf_token %}
      <select name="selected_category" class="form-select" aria-label="Select Category">
        <option value="">All Categories</option>
        {% for categoryy in category %}
          <option value="{{ categoryy.id }}">{{ categoryy.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
  </section>



  <ul class="list-group ">
    {% for tst in test %}
    <p class="d-inline-flex gap-1 ">
        <button class="btn btn-secondary button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{ tst.id }}" aria-expanded="false" aria-controls="collapseExample{{ tst.id }}">
            <li class="list-group-item button" text-decoration-none text-dark>{{ tst.name }}</li>
        </button>
    </p>
    <div class="collapse " id="collapseExample{{ tst.id }}">
        <div class="card card-body button afterclick">
            <li class="list-group-item"><a href="{% url 'givetest' tst.id %}" class="text-decoration-none text-dark">Start Exam</a></li>
        </div>
    </div>
    {% endfor %}
  </ul>
  
  





  {% endblock test %}
