<!-- Signup Form -->
<div class="form signup">
  <div class="form-content">
      <header>Signup</header>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          
          <div class="field button-field">
              <button type="submit">Signup</button>
          </div>
      </form>
      <div class="form-link">
          <span>Already have an account? <a href="{% url 'accounts:login' %}" class="link login-link">Login</a></span>
      </div>
  </div>
</div>
